SECRET_KEY=cambia_esta_clave_larga_y_segura
DEBUG=False
DOTENV_OVERRIDE=False
ALLOWED_HOSTS=127.0.0.1,localhost,TU_DOMINIO_O_IP
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://TU_DOMINIO_O_IP

DB_ENGINE=postgresql
DB_NAME=formulacion_magistral_db
DB_USER=formulacion_user
DB_PASSWORD=cambia_esta_clave
DB_HOST=db
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
USE_X_FORWARDED_PROTO=False
