SECRET_KEY=REEMPLAZA_CON_UNA_CLAVE_LARGA_Y_SEGURA
DEBUG=False
ALLOWED_HOSTS=TU_DOMINIO_O_IP
CSRF_TRUSTED_ORIGINS=http://TU_DOMINIO_O_IP

DB_NAME=formulacion_magistral_db
DB_USER=formulacion_user
DB_PASSWORD=REEMPLAZA_CON_TU_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=no-reply@itslibertad.edu.ec

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
SECURE_CONTENT_TYPE_NOSNIFF=True
SECURE_REFERRER_POLICY=same-origin
X_FRAME_OPTIONS=DENY
USE_X_FORWARDED_PROTO=False
